.adminOrderMainContainer {
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 20px;
  width: 100%;
}
.adminOrderSearchContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 80vh;
  width: 100%;
}
.orderSearchBox {
  display: flex;
  justify-content: center;
  padding: 12px 15px;
  border-bottom: 1.6px solid var(--border-muted);
}
.orderSearchBox input {
  background: url("https://res.cloudinary.com/ddzlhdlda/image/upload/v1688885284/Foodie/search_p14ik5.svg")
    no-repeat scroll 15px 8px;
  background-color: rgba(0, 0, 0, 0);
  background-color: var(--bgColor-muted);
  padding: 8px 0px;
  padding-left: 45px;
  border-radius: 10px;
}
.orderSearchResultBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 5px;
  height: 85%;
  scrollbar-width: none;
  overflow-y: scroll;
  padding-bottom: 15px;
}
.orderSearchResult {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid var(--border-muted);
  gap: 5px;
  cursor: pointer;
}
.orderSearchResult .orderDetails {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}
.orderSearchResult .CustomerName {
  font-size: 13px;
  color: var(--color-black);
  font-weight: 500;
}
.orderSearchResult .orderNumber {
  font-size: 12px;
  color: var(--color-orange);
  font-weight: 500;
}
.orderSearchResult .CustomerAddress {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
.orderSearchResult .OrderBriefDetails {
  font-size: 12px;
  color: var(--color-black);
}
.orderSearchResult .OrderRecivedTime {
  font-size: 10px;
  font-weight: 500;
  color: var(--color-muted);
}
.orderSearchResult .orderStatus {
  font-size: 11px;
  background-color: var(--color-orange);
  color: #fff;
  font-weight: 500;
  width: max-content;
  align-items: center;
  text-transform: capitalize;
}
.adminOrderContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80vh;
}
.adminOrderFilterBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 15px;
  background-color: #151933;
  border-radius: 6px;
  justify-content: space-around;
}
.adminOrderFilter {
  background-color: #fff;
  color: var(--color-black);
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 20px 10px 10px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}
.adminFilterBadge {
  padding: 5px 10px !important;
  top: 5px !important;
  background-color: var(--color-red) !important;
}
.adminOrderMainBox {
  padding: 5px 15px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
.adminOrderBox {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.adminOrderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid var(--border-muted);
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}
.adminOrderItemInfo {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.adminOrderNumber {
  font-size: 13px;
  color: var(--color-orange);
  font-weight: 500;
}
.adminOrderInfo {
  font-size: 11px;
  color: var(--color-muted);
  font-weight: 500;
}
.adminOrderTimeInfo {
  font-size: 12px;
}
.adminOrderActionBtn {
  font-size: 14px;
  color: var(--color-muted);
  cursor: pointer;
}
.adminOrderItemHover {
  background-color: var(--color-blue-muted);
}
.adminOrderMainInfoBox {
  background-color: var(--color-blue-muted);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adminOrderInfoBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.adminOrderInfoTitle {
  font-size: 12px;
  color: var(--color-muted);
  text-transform: uppercase;
  font-weight: 400;
}
.adminOrderInfoValue {
  font-size: 12px;
  color: var(--color-black);
  font-weight: 500;
}
.adminOrderInfoActionBtn {
  text-transform: uppercase;
  border: 1px solid var(--color-muted);
  font-size: 12px;
  background-color: transparent;
  padding: 5px 15px;
  font-weight: 500;
  color: var(--color-main);
}
.adminOrderActionBtnBox {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
  padding: 20px 0px;
}
.adminOrderFirstActionBtn,
.adminOrderSecondActionBtn {
  border-radius: 20px;
  background-color: #151933;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #151933;
  outline: none;
  font-weight: 500;
}
.adminOrderSecondActionBtn {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
}
#orderDetailsModal {
  --bs-modal-header-border-color: #fff !important;
}
#orderDetailsModal .btn-close {
  box-shadow: none;
}
.adminOrderDetailModalBody {
  padding-bottom: 30px !important;
}
.adminOrderCustomerDetailBox {
  padding: 0px 10px 10px 10px !important;
  border-bottom: 2px solid var(--border-muted);
}
.adminOrderDetailBox {
  padding: 0px 10px 10px 10px !important;
}
.adminOrderDetailInfoBox {
  padding: 0px 10px 10px 10px !important;
}
.adminOrderDetailPrintBtnBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.deliveryBoyListItem {
  display: flex;
  gap: 35px;
  justify-content: space-around;
  padding: 5px 10px;
  align-items: center;
  color: var(--color-black);
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 5px;
  width: 100%;
}
.deliveryBoyListItem:hover {
  background-color: var(--color-blue-muted) !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: inherit;
  background-color: inherit;
}
.deliveryBoyName {
  width: max-content;
  padding: 0px;
}
.deliveryBoyDistance {
  color: var(--color-orange);
  font-size: 12px;
  font-weight: 500;
}
.adminPastOrderDetailsBox {
  padding: 10px;
  border: 1px solid var(--border-muted);
  max-height: 50%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scrollbar-width: none; */
}
.orderFlowBox {
  /* background-color: var(--color-blue-muted); */
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid var(--border-muted);
  align-items: center;
}
.orderFlow {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.orderFlowValue {
  font-size: 12px;
  color: var(--color-main);
  font-weight: 500;
}
.orderFlowTitle {
  font-size: 12px;
  color: var(--color-muted);
  text-transform: capitalize;
  font-weight: 500;
}
