.adminOrderMainContainer {
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 20px;
  width: 100%;
}
.adminOrderSearchContainer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 80%;
  width: 100%;
}
.orderSearchBox {
  display: flex;
  justify-content: center;
  padding: 12px 15px;
  border-bottom: 1.6px solid var(--border-muted);
}
.orderSearchBox input {
  background: url("https://res.cloudinary.com/ddzlhdlda/image/upload/v1688885284/Foodie/search_p14ik5.svg")
    no-repeat scroll 15px 8px;
  background-color: rgba(0, 0, 0, 0);
  background-color: var(--bgColor-muted);
  padding: 8px 0px;
  padding-left: 45px;
  border-radius: 10px;
}
.orderSearchResultBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 5px;
  height: 90%;
  scrollbar-width: none;
  overflow-y: scroll;
  padding-bottom: 15px;
}
.orderSearchResult {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid var(--border-muted);
  gap: 5px;
  cursor: pointer;
}
.orderSearchResult .orderDetails {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}
.orderSearchResult .CustomerName {
  font-size: 13px;
  color: var(--color-black);
  font-weight: 500;
}
.orderSearchResult .orderNumber {
  font-size: 12px;
  color: var(--color-orange);
  font-weight: 500;
}
.orderSearchResult .CustomerAddress {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--color-black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}
.orderSearchResult .OrderBriefDetails {
  font-size: 12px;
  color: var(--color-black);
}
.orderSearchResult .OrderRecivedTime {
  font-size: 10px;
  font-weight: 500;
  color: var(--color-muted);
}
.orderSearchResult .orderStatus {
  font-size: 11px;
  background-color: var(--color-orange);
  color: #fff;
  font-weight: 500;
  width: max-content;
  align-items: center;
}
.adminOrderContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.adminOrderFilterBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 15px;
  background-color: #151933;
  border-radius: 6px;
  justify-content: space-between;
}
.adminOrderFilter {
  background-color: #fff;
  color: var(--color-black);
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 20px 10px 10px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
}
.adminOrderMainBox {
  padding: 5px 15px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
}
.adminOrderBox {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.adminOrderItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid var(--border-muted);
  border-radius: 6px;
  width: 100%;
}
.adminOrderItemInfoBox {
  display: flex;
  gap: 10px;
  align-items: center;
}
.adminOrderItem img {
  height: 18px !important;
}
.adminOrderItemInfo {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.adminOrderItemName {
  font-size: 13px;
  color: var(--color-black);
}
.adminOrderCategory {
  font-size: 11px;
  color: var(--color-muted);
  font-weight: 500;
}
.adminOrderItemPrice {
  font-size: 13px;
  color: var(--color-black);
  font-weight: 500;
}
.adminOrderMainInfoBox {
  background-color: var(--color-blue-muted);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adminOrderInfoBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.adminOrderInfoTitle {
  font-size: 12px;
  color: var(--color-muted);
  text-transform: uppercase;
  font-weight: 400;
}
.adminOrderInfoValue {
  font-size: 12px;
  color: var(--color-black);
  font-weight: 500;
}
.adminOrderInfoActionBtn {
  text-transform: uppercase;
  border: 1px solid var(--color-muted);
  font-size: 12px;
  background-color: transparent;
  padding: 5px 15px;
  font-weight: 500;
  color: var(--color-main);
}
.adminOrderActionBtnBox {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  width: 100%;
  padding: 20px 0px;
}
.adminOrderFirstActionBtn,
.adminOrderSecondActionBtn {
  border-radius: 20px;
  background-color: #151933;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 1px solid #151933;
  outline: none;
  font-weight: 500;
}
.adminOrderSecondActionBtn {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
}
